In [1]:
import pandas as pd
import mysql
from connect import DatabaseConnector

In [2]:
def get_table_data(table_name):
    
    """Prints a summary of the database including number of tables and their columns to an HTML file."""
    db_connector = DatabaseConnector()  # Create an instance of DatabaseConnector

    # Connect to the database
    db_connector.connect_db()

    # Get the database connection
    connection = db_connector.get_connection()

    # If connection is not established, return
    if connection is None:
        print("No connection available to summarize the database.")
        return
    
    cursor = connection.cursor()

    try:
        # Execute the query to fetch the entire table
        cursor.execute(f"SELECT * FROM {table_name}")
        rows = cursor.fetchall()

        # Get column names
        column_names = [i[0] for i in cursor.description]

        # Create a DataFrame from the fetched data
        df = pd.DataFrame(rows, columns=column_names)
        
        return df
    except mysql.connector.Error as e:
        print(f"Error: {e}")
        return None
    finally:
        cursor.close()
        db_connector.close_connection()

In [3]:
df = get_table_data("product_view_logs")

Successfully connected to the database
Connection closed

In [7]:
df.head(10)

,id,user_id,product_id,user_lat,user_long,phone_metadata,user_phone_number,created_at,updated_at
0,1,292,851,NaN,NaN,None,+237651865148,2021-10-28 08:34:25,2021-10-28 08:34:25
1,2,292,552,NaN,NaN,None,+237651865148,2021-10-28 08:34:43,2021-10-28 08:34:43
2,3,292,914,NaN,NaN,None,+237651865148,2021-10-28 08:42:03,2021-10-28 08:42:03
3,4,292,287,NaN,NaN,None,+237651865148,2021-10-28 08:42:22,2021-10-28 08:42:22
4,5,292,182,NaN,NaN,None,+237651865148,2021-10-28 08:42:36,2021-10-28 08:42:36
5,6,292,183,NaN,NaN,None,+237651865148,2021-10-28 08:42:44,2021-10-28 08:42:44
6,7,292,286,NaN,NaN,None,+237651865148,2021-10-28 08:42:58,2021-10-28 08:42:58
7,8,292,42,NaN,NaN,None,+237651865148,2021-10-28 08:43:07,2021-10-28 08:43:07
8,9,292,287,NaN,NaN,None,+237651865148,2021-10-28 08:43:15,2021-10-28 08:43:15
9,10,292,182,NaN,NaN,None,+237651865148,2021-10-28 08:44:10,2021-10-28 08:44:10

In [8]:
def get_tables_and_columns():
    """Fetches all tables and their columns from the database."""

    db_connector = DatabaseConnector()  # Create an instance of DatabaseConnector

    # Connect to the database
    db_connector.connect_db()

    # Get the database connection
    connection = db_connector.get_connection()


    
    if connection is None:
        print("No connection available to fetch data.")
        return None

    cursor = connection.cursor(dictionary=True)

    try:
        tables_info = []

        # Fetch all table names
        cursor.execute("SHOW TABLES")
        tables = cursor.fetchall()

        for table in tables:
            table_name = table[f"Tables_in_{connection.database}"]
            cursor.execute(f"SHOW COLUMNS FROM {table_name}")
            columns = cursor.fetchall()
            tables_info.append({"table_name": table_name, "columns": [column['Field'] for column in columns]})

        return tables_info
    except mysql.connector.Error as e:
        print(f"Error: {e}")
        return None
    finally:
        cursor.close()
        db_connector.close_connection()

In [10]:


tables_info = get_tables_and_columns()

# Print the tables and their columns
for table_info in tables_info:
    print(f"Table: {table_info['table_name']}")
    print(f"Columns: {', '.join(table_info['columns'])}")
    print()

Successfully connected to the database
Connection closed
Table: announcements
Columns: id, title, title_fr, cover_image, video_link, description, description_fr, admin_id, status, publication_date, created_at, updated_at

Table: attribute_values
Columns: id, name, value, product_attribute_id, created_at, updated_at

Table: attributes
Columns: id, name, name_fr, created_at, updated_at

Table: banners
Columns: id, image, vendor_id, created_at, updated_at

Table: brands
Columns: id, name, image, category_id, created_at, updated_at

Table: buy_logs
Columns: id, user_id, product_id, button_type, user_lat, user_long, phone_metadata, user_phone_number, created_at, updated_at

Table: c_r_m_s
Columns: id, title, vendor_id, admin_id, comment, created_at, updated_at

Table: categories
Columns: id, name, image, category_id, name_fr, created_at, updated_at

Table: category_view_logs
Columns: id, user_id, category_id, user_lat, user_long, phone_metadata, user_phone_number, created_at, updated_at

Table: countries
Columns: id, name, iso, code, currency, created_at, updated_at, domain

Table: documents
Columns: id, user_id, type, path, created_at, updated_at

Table: failed_jobs
Columns: id, uuid, connection, queue, payload, exception, failed_at

Table: faqs
Columns: id, question, answer, created_at, updated_at

Table: locations
Columns: id, name, latitude, longitude, radius, created_at, updated_at, country_id

Table: migrations
Columns: id, migration, batch

Table: news_sub_categories
Columns: id, created_at, updated_at

Table: notifications
Columns: id, type, notifiable_type, notifiable_id, data, read_at, created_at, updated_at

Table: oauth_access_tokens
Columns: id, user_id, client_id, name, scopes, revoked, created_at, updated_at, expires_at

Table: oauth_auth_codes
Columns: id, user_id, client_id, scopes, revoked, expires_at

Table: oauth_clients
Columns: id, user_id, name, secret, provider, redirect, personal_access_client, password_client, revoked, created_at, updated_at

Table: oauth_personal_access_clients
Columns: id, client_id, created_at, updated_at

Table: oauth_refresh_tokens
Columns: id, access_token_id, revoked, expires_at

Table: pages
Columns: id, title, title_fr, type, content, content_fr, created_at, updated_at

Table: password_resets
Columns: email, token, created_at

Table: permissions
Columns: id, name, name_fr, slug, created_at, updated_at

Table: product_attribute_values
Columns: id, product_attribute_id, value_id, created_at, updated_at

Table: product_attributes
Columns: id, product_id, attribute_id, created_at, updated_at

Table: product_images
Columns: id, product_id, image, image_original, image_thumb, image_medium, created_at, updated_at

Table: product_view_logs
Columns: id, user_id, product_id, user_lat, user_long, phone_metadata, user_phone_number, created_at, updated_at

Table: product_whole_sales
Columns: id, product_id, quantity, price, created_at, updated_at

Table: products
Columns: id, user_id, name, name_fr, category_id, currency, price, hash, image, image_original, image_thumb, image_medium, description, description_fr, search_index, country, latitude, longitude, brand_id, created_at, updated_at, whole_sale, deleted_at, sellam_id

Table: promotions
Columns: id, title, title_fr, description, description_fr, image, image_thumb, image_medium, product_id, vendor_id, latitude, longitude, start_date, end_date, status, payment_plan, created_at, updated_at

Table: registered_user_tokens
Columns: id, user_id, token, created_at, updated_at

Table: reviews
Columns: id, score, message, user_id, vendor_id, status, created_at, updated_at

Table: role_permissions
Columns: id, role_id, permissions_id, updated_at, created_at

Table: roles
Columns: id, name, name_fr, slug, created_at, updated_at

Table: search_logs
Columns: id, user_id, keyword, number_of_results, user_lat, user_long, phone_metadata, user_phone_number, created_at, updated_at

Table: sellam_category_views
Columns: id, user_id, category_id, user_lat, user_long, phone_metadata, user_phone_number, created_at, updated_at

Table: sellam_orders
Columns: id, sellam_product_id, product_id, user_id, price, delivery_fee, status, payment_method, recipient_name, recipient_phone, recipient_address, city, quantity, created_at, updated_at, payment_status, reference

Table: sellam_product_views
Columns: id, user_id, product_id, button_type, user_lat, user_long, phone_metadata, user_phone_number, created_at, updated_at

Table: sellam_products
Columns: id, product_id, user_id, name, name_fr, category_id, currency, price, hash, image, image_thumb, image_original, image_medium, description, description_fr, search_index, sellam_price, buyam_price, status, brand_id, country, latitude, longitude, whole_sale, created_at, updated_at

Table: subscriptions
Columns: id, name, duration, amount, status, type, created_at, updated_at

Table: templates
Columns: id, name, image, path, status, created_at, updated_at

Table: user_invites
Columns: id, user_id, name, phone, email, status, data, language, message, created_at, updated_at

Table: user_permissions
Columns: id, user_id, permission_id, created_at, updated_at

Table: user_requests
Columns: id, type, image, user_id, description, latitude, longitude, status, created_at, updated_at

Table: user_roles
Columns: id, user_id, role_id, updated_at, created_at

Table: user_subscriptions
Columns: id, subscription_id, vendor_id, duration, amount, payment_method, status, phone_number, account_name, transaction_id, reference, created_at, updated_at, start_date, end_date

Table: users
Columns: id, name, address, email, country, phone, image, image_thumb, image_medium, latitude, longitude, fire_base_token, imei, password, type, status, bio, bio_fr, email_verified_at, search_index, remember_token, created_at, updated_at, approved_at, approved_by, vendor_profile_stage

Table: vendor_notification_logs
Columns: id, title, title_fr, message, message_fr, created_at, updated_at

Table: vendor_notifications
Columns: id, user_id, title, title_fr, message, message_fr, type, status, action, content, language, published_date, created_at, updated_at

Table: vendor_of_the_days
Columns: id, vendor_id, date, created_at, updated_at

Table: vendor_ratings
Columns: id, vendor_id, total_rating_count, total_rating_value, total_average_rating, average_rating, weighted_rating, created_at, updated_at

Table: vendor_search_logs
Columns: id, user_id, search_term, created_at, updated_at, total

Table: vendor_view_logs
Columns: id, user_id, vendor_id, user_lat, user_long, phone_metadata, user_phone_number, created_at, updated_at

Table: vendors
Columns: id, user_id, type, name, address, created_at, updated_at, subdomain, template_id, about, logo, facebook, twitter, instagram, linkedin, approved_at, managed_by_admin

Table: wishlists
Columns: id, user_id, product_id, category_id, created_at, updated_at

In [12]:
df = get_table_data("vendor_view_logs")

Successfully connected to the database
Connection closed

In [13]:
df.head(10)

,id,user_id,vendor_id,user_lat,user_long,phone_metadata,user_phone_number,created_at,updated_at
0,1,292,2561,0.000000,0.000000,None,+237651865148,2021-10-28 08:41:43,2021-10-28 08:41:43
1,2,115,26,0.000000,0.000000,None,237650628474,2021-10-28 09:34:06,2021-10-28 09:34:06
2,3,0,268,3.848000,11.502100,None,,2021-10-28 10:38:00,2021-10-28 10:38:00
3,4,0,266,4.160232,9.282543,None,,2021-10-28 11:08:04,2021-10-28 11:08:04
4,5,0,268,4.160552,9.282196,None,,2021-10-28 11:13:38,2021-10-28 11:13:38
5,6,0,2252,NaN,NaN,None,,2021-10-28 11:25:14,2021-10-28 11:25:14
6,7,0,2785,4.159316,9.279771,None,,2021-10-28 12:56:08,2021-10-28 12:56:08
7,8,0,2459,0.000000,0.000000,None,,2021-10-28 13:03:39,2021-10-28 13:03:39
8,9,0,2491,0.000000,0.000000,None,,2021-10-28 13:04:01,2021-10-28 13:04:01
9,10,0,2785,0.000000,0.000000,None,,2021-10-28 13:04:47,2021-10-28 13:04:47

In [14]:
df = get_table_data("categories")

Successfully connected to the database
Connection closed

In [15]:
df.head(50)

,id,name,image,category_id,name_fr,created_at,updated_at
0,6,Electronics,60c8c9a4024dc.png,0,Électronique\r\n,2021-06-08 10:44:42,2021-06-15 19:39:16
1,7,Mobile Phones,61a9283fb109b.png,23,Téléphones portables,2021-06-08 10:44:42,2021-12-03 01:10:39
2,8,Computers,60c8e0f87536f.png,24,Informatique\r\n,2021-06-08 10:44:42,2021-06-16 23:45:11
3,15,Home & Kitchen,60e309bc57837.png,22,Maison & Cuisine,2021-06-08 10:44:42,2021-07-05 17:31:40
4,17,Home & Office Furniture,60e30a3ad0b2f.png,22,furniture,2021-06-08 10:44:42,2021-07-05 17:33:46
5,18,Table,60e31631d231e.png,17,Table,2021-06-08 10:44:42,2021-07-05 18:24:49
6,19,Bed,60e3179988feb.png,17,Lit,2021-06-08 10:44:42,2021-07-05 18:30:49
7,20,Super Market,60de4d42cdf92.png,0,Supermarché,2021-06-15 14:36:43,2021-07-02 03:18:26
8,21,Health & Beauty,61a9252413869.png,0,Beauté & Hygiène\r\n,2021-06-15 14:36:43,2021-12-03 00:57:24
9,22,Home & Office,60e30913071e5.png,0,Maison et Bureau,2021-06-15 14:36:43,2021-07-05 17:28:51
10,23,Phone & Tablets,61a926e8eb3cf.png,0,Téléphone et tablettes,2021-06-15 14:36:43,2021-12-03 01:04:56
11,24,Computing,60c8d1fc9d0c1.png,0,Informatique,2021-06-15 14:36:43,2021-06-15 20:14:52
12,27,Baby Products,60c8d33f5a41b.png,0,Produits pour bébés,2021-06-15 14:36:43,2021-06-15 20:20:15
13,28,Gaming,60c8d264caaf3.png,0,Jeu,2021-06-15 14:36:43,2021-06-15 20:16:36
14,29,Sporting Goods,60c8d2c9d0733.png,0,Articles de sport,2021-06-15 14:36:43,2021-06-15 20:18:17
15,30,Automobiles,60de4dedecc26.png,0,Automobiles,2021-06-15 14:36:43,2021-07-02 03:21:17
16,31,Real Estate,60de537e1f8e7.png,0,Immobilier,2021-06-15 14:36:43,2021-07-02 03:45:02
17,32,Other Categories,60c8d6290b5aa.png,0,\t\r\nAutres catégories,2021-06-15 14:36:43,2021-06-15 20:32:41
18,43,Home Audio,61a1123e32c41.png,6,\t\r\nAudio à domicile,2021-06-15 21:08:38,2021-11-26 21:58:38
19,45,Camera and Photo,616dc010ae3a5.png,6,\t\r\nAppareil photo et photo,2021-06-15 21:08:38,2021-10-18 22:42:24
20,47,Generator and Portable Power,61a112e0b7860.png,6,\t\r\nGénérateur et alimentation portable\r\n,2021-06-15 21:08:38,2021-11-26 22:01:20
21,48,Food Cupboard,61a1277d664c1.png,20,\t\r\nPlacard alimentaire\r\n,2021-06-15 21:12:58,2021-11-26 23:29:17
22,49,Household cleaning,61a128114238d.png,20,\t\r\nNettoyage ménager\r\n,2021-06-15 21:12:58,2021-11-26 23:31:45
23,50,"Beer, wine and spirits",61a128871009d.png,20,"\t\r\nBière, vin et spiritueux\r\n",2021-06-15 21:12:58,2021-11-26 23:33:43
24,51,Make up,6128dba18a951.png,21,\t\r\nMaquillage\r\n,2021-06-15 21:14:34,2021-08-27 16:33:37
25,52,Hair care,6128ccfc491c9.png,21,Soins des cheveux\r\n,2021-06-15 21:14:34,2021-08-27 15:31:08
26,53,Health Care,61a9209370b3d.png,21,Soins de santé\r\n,2021-06-15 21:14:34,2021-12-03 00:37:55
27,54,Personal Care,61a91db37478f.png,21,Soins personnels\r\n,2021-06-15 21:14:34,2021-12-03 00:25:39
28,55,Oral Care,631f17bcbef1a.png,21,Soins bucco-dentaires\r\n,2021-06-15 21:14:34,2022-09-12 11:27:56
29,56,Fragrances,61a91f8857ac3.png,21,Parfums\r\n,2021-06-15 21:14:34,2021-12-03 00:33:28
30,57,Large Appliances,60c8d09d34545.png,22,Gros appareils électroménagers,2021-06-15 21:15:31,2021-06-15 21:15:31
31,58,Small Appliances,60c8d09d34545.png,22,Petits appareils électroménagers,2021-06-15 21:15:31,2021-06-15 21:16:17
32,59,Office Products,60c8d09d34545.png,22,Produits de bureau,2021-06-15 21:15:53,2021-06-15 21:15:53
33,60,Tablets,61a928b966c6d.png,23,Tablettes,2021-06-15 21:17:58,2021-12-03 01:12:41
34,61,Smart Phones,61a92a3ecfc94.png,7,Smart Phones,2021-06-15 21:17:58,2021-12-03 01:19:10
35,62,Mobile Accessories,61a929f4d40c5.png,23,Accessoires mobiles,2021-06-15 21:17:58,2021-12-03 01:17:56
36,63,Printers,60c8d1fc9d0c1.png,24,Imprimantes,2021-06-15 21:20:05,2021-06-16 23:37:01
37,64,Computer Accessories,60c8d1fc9d0c1.png,24,Accessoires pour ordinateurs,2021-06-15 21:20:05,2021-06-15 21:20:05
38,65,Data Storage,60c8d1fc9d0c1.png,24,Stockage des données,2021-06-15 21:20:05,2021-06-15 21:20:05
39,66,Network Accessories,60c8d1fc9d0c1.png,24,Accessoires de réseau\r\n,2021-06-15 21:20:05,2021-06-15 21:20:05
40,67,Feeding,60c8d33f5a41b.png,27,Alimentation\r\n,2021-06-15 21:21:22,2021-06-15 21:21:22
41,68,Gear,60c8d33f5a41b.png,27,Engrenage\r\n,2021-06-15 21:21:22,2021-06-15 21:21:22
42,69,Baby and Toddler Toys,60c8d33f5a41b.png,27,Jouets pour bébés et jeunes enfants\r\n,2021-06-15 21:21:22,2021-06-15 21:21:22
43,70,Diapering,60c8d33f5a41b.png,27,Changements de couches\r\n,2021-06-15 21:21:22,2021-06-15 21:21:22
44,71,Play Station,60c8d264caaf3.png,28,Station de jeu\r\n,2021-06-15 21:22:11,2021-06-15 21:22:11
45,72,Nintendo,60c8d264caaf3.png,28,Nintendo\r\n,2021-06-15 21:22:11,2021-06-15 21:22:11
46,73,XBOX,60c8d264caaf3.png,28,XBOX\r\n,2021-06-15 21:22:11,2021-06-15 21:22:11
47,74,Top Games,60c8d264caaf3.png,28,Top Jeux\r\n,2021-06-15 21:22:11,2021-06-15 21:22:11
48,75,Cardio Training,60c8d2c9d0733.png,29,Cardio Training,2021-06-15 21:23:37,2021-06-15 21:23:37
49,76,Team Sports,60c8d2c9d0733.png,29,Sports d'équipe\r\n,2021-06-15 21:23:37,2021-06-15 21:23:37

In [17]:
def get_vendor_rank(vendor_id):
    db_connector = DatabaseConnector()  # Create an instance of DatabaseConnector
    # Connect to the database
    db_connector.connect_db()
    # Get the database connection
    connection = db_connector.get_connection()

    # If connection is not established, return
    if connection is None:
        print("No connection available to retrieve vendor ranks.")
        return

    cursor = connection.cursor()

    try:
        # Execute the query to calculate the total count of views for each vendor
        query = """
            SELECT vendor_id, COUNT(*) AS total_views
            FROM vendor_view_logs
            GROUP BY vendor_id
        """
        cursor.execute(query)
        results = cursor.fetchall()

        # Sort results by total views in descending order
        sorted_results = sorted(results, key=lambda x: x[1], reverse=True)

        # Find rank of the specified vendor
        rank = next((i+1 for i, (v_id, _) in enumerate(sorted_results) if v_id == vendor_id), None)

        return rank

    except mysql.connector.Error as e:
        print(f"Error: {e}")
    finally:
        cursor.close()
        db_connector.close_connection()

In [18]:
# Example usage
vendor_id = 266  # Replace with the actual vendor ID
rank = get_vendor_rank(vendor_id)
if rank is not None:
    print(f"Rank of vendor {vendor_id} based on total views: {rank}")
else:
    print("Vendor not found or error occurred.")

Successfully connected to the database
Connection closed
Rank of vendor 266 based on total views: 54

In [ ]:
df1 = get_table_data("buy_logs")
df2 = get_table_data("vendor")
df3 = get_table_data("vendor_view_logs")